body {
  padding-top: 30px;
  font-family: "Raleway", sans-serif;
  background-color: rgb(38, 39, 47);
  color: white;
  text-align: center;
  user-select: none;
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
}

#board {
  min-width: 400px;
  max-width: 400px;
  position: relative;
  margin: 0px auto;
  background-color: rgb(99, 157, 211);
  border-radius: 5%;
  border: 5px solid rgb(155, 182, 190);
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  border-radius: 50%;
  background-color: rgb(79, 81, 98);
}

.grow {
  transform: scale(0);
}

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  transition: ease-out 0.3s;
}

.player1 {
  background-color: red;
}

.player2 {
  background-color: gold;
}

#column-top td {
  cursor: crosshair;
  border: dashed 1px lightgray;
  transition: all ease-in 0.2s;
  background-color: rgb(50, 52, 71);
}

#column-top.player1hover td:hover {
  transition: all ease-in 0.05s;
  background-color: red;
}

#column-top.player2hover td:hover {
  transition: all ease-in 0.05s;
  background-color: gold;
}

.no-display {
  opacity: 0%;
  pointer-events: none;
  position: absolute;
}

.endgame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 1px;
  left: 1px;
  top: 1px;
  bottom: 1px;
  background-color: rgba(30, 30, 30, 0.672);
  margin: 0 auto;
  width: 100vh;
  transition: ease-out 0.5s;
}

.RED {
  color: red;
}
.YELLOW {
  color: gold;
}

button {
  cursor: pointer;
  margin: 10px auto;
  border: none;
  background-color: rgb(197, 221, 213);
  box-shadow: 0 5px #666;
  border-radius: 50%;
  padding: 10px;
  display: block;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

#game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#current-player {
  flex: 1;
}

#player-text {
  margin-top: 0;
}

#rules {
  flex: 1;
}

#game-box {
  flex: 1;
  margin-top: 10px;
}

#rules-toggle {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  margin: auto;
  margin-bottom: 5px;
}

#arrow {
  writing-mode: vertical-lr;
  transition: all ease-in-out 0.5s;
}

.arrow-down {
  transform: rotate(90deg);
  transition: all ease-in-out 0.5s;
}

#rules-text {
  margin: auto;
  width: 200px;
  text-align: justify;
  line-height: 2;
}

#player-dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
}

input {
  font-weight: bolder;
  text-align: center;
  margin: auto 10px;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

#player1 {
  color: rgb(141, 6, 6);
  background-color: red;
}

#player2 {
  color: rgb(143, 123, 9);
  background-color: gold;
}

::placeholder {
  color: rgb(151, 150, 150);
}
